@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,200&family=Poppins:wght@200&family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
    overflow-x: hidden;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/FONDO.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

h2 {
    font-size: 2em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.brand span {
    color: aqua;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.menu li {
    list-style: none;
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu .activo {
    color: bisque;
}

.menu a:hover {
    color: rgb(22, 173, 207);
    transition: ease-in 0.4s;
}

.brand {
    margin-top: -7px;
}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

h1 {
    font-size: 3rem;

}

p {
    text-align: justify;
    margin: 1em;
}

span {
    color: aqua;
}

.descargar-cv {
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 18px;
    margin-top: 12px;
    cursor: pointer;
    box-shadow: rgba(102, 231, 200, .60);
}

.descargar-cv:hover {
    background-color: #fff;
    box-shadow: none
}

.main img {
    width: 400px;
    border: 6px solid aqua;
    height: 400px;
    border-radius: 90%;
}

.acerca {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    text-align: justify;
    align-items: center;
}

.acerca img {
    width: 400px;
    grid-column: 1/5;
    border-radius: 90%;
    border: 4px solid aqua;
}

.acerca-mi {
    grid-column: 5/10;
    margin: 1.5em;
}

.acerca-mi h2 {
    font-size: 1.5em;
    color: rgb(79, 81, 148);
    ;
}

.dividir {
    width: 70px;
    height: 5px;
    background-color: rgb(27, 9, 163);
    margin-top: 4px;
    margin-bottom: 2em;
}

.acerca p {
    margin-bottom: 1em;

}

.portafolio {
    width: 100vw;
    height: 150vh;
    background-image: url(../img/FONDO.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.portafolio-heading {
    width: 100vw;
    justify-content: center;
    padding: 5em;
}

.portafolio-heading h2 {
    font-size: 2.5em;
    color: #fff;

}

.portafolio .contenedor {
    width: 80vw;
    height: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    background-color: rgb(20, 18, 97);
    width: 300px;
    height: 500px;
    color: #fff;
    text-align: center;
    margin: 1em;


}

.card p {
    font-size: 10px;
}

.card_img1 {
    width: 100%;
    height: 150px;
    background-image: url(../img/2-original.png);
    background-size: cover;

}

.card_img2 {
    width: 100%;
    height: 150px;
    background-image: url(../img/zapato-mata-tigre.jpg);
    background-size: cover;

}

.card_img3 {
    width: 100%;
    height: 150px;
    background-image: url(../img/logo_dunkin.jpg);
    background-size: cover;

}

.card_titulo {
    padding: 19px;
}

.card_proyectos_link {
    display: flex;
    justify-content: space-evenly;

}

.card_proyectos_link a {
    color: #fff;
    text-decoration: none;
}

.card_proyectos_link i {

    font-size: 1.5em;

}

.card .proyectos {
    margin: 0 auto;
    margin: 1em;
    width: 70%;
}

.card .proyectos a {
    text-decoration: none;
    color: #191c32;
    text-transform: uppercase;
}

.proyectos-contenedor {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1em;

}

.acerca-mi li {
    list-style: none;
    margin: 1rem;
}

.acerca-mi span {
    color: #7e7979;
}

.contatos_seccion {
    width: 100vw;
    height: 90vh;
    background-image: url(../img/fondo\ 3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.contatos_seccion {
    padding: 3em;
}

.contatos_heading h2 {
    font-size: 2.5em;
}

.form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
}

.form input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

form textarea {
    height: 150px;
    background: none;
    color: #fff;
    border:1px solid #fff;
}

.btn-submit {
padding: 10px 20px;
margin: 1em;
border: none;
background-color: aqua;
border-radius: 20px;
text-transform: uppercase;
cursor: pointer;
}

.btn-submit:hover {
background-color: #fff;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    padding: 2em;
    background-color: aqua;
    text-align: center;
}

.contenedor_footer h3 {
    font-size: 3em;
}

.contenedor_footer h5, .redes_sociales {
    font-size: 1.5em;
}

.redes_sociales {
    display: flex;
    justify-content: space-evenly;
    width: 340px;
    margin-top: 1.2em;
    cursor: pointer;
}

.redes_sociales i:hover {
    background-color: #fff;
    box-shadow: none
}

